%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Role:
  = @user.role

= link_to 'Edit', edit_user_path(@user), :class => "btn-mini btn-info"
\|
= link_to_function "Back", "history.go(-1)", :class => 'btn btn-mini btn-warning'
