= link_to 'New Page', new_page_path

= link_to 'List', list_path

%hr

- @main_pages.each do |page|
  = link_to "#{page.title}", '/page/'+page.path

%p#notice= notice

%hr

  %p
    %b Title:
    = @page.title
  %p
    %b Path:
    = @page.path
  %p
    %b Body:
    = @page.body
  %p
    %b Parent:
    = @page.parent

%hr

- @children_pages.each do |page|

  %p
    %b Title:
    = page.title
  %p
    %b Path:
    = page.path
  %p
    %b Body:
    = page.body
  %p
    %b Parent:
    = page.parent

  %hr

