= render 'header'
%p
  %b Title:
  = @page.title
/%p
/   %b Path:
/   = @page.path
%p
  %b Body:
  = @page.body
/ %p
/   %b Parent:
/   = @page.parent
= link_to " read more ", '/pages/'+@page.id
%hr



- @children_pages.each do |page|

  %p
    %b Title:
    = page.title
  / %p
  /   %b Path:
  /   = page.path
  %p
    %b Body:
    = page.body[0..500] + ' ...'
  / %p
  /   %b Parent:
  /   = page.parent

  %hr
  = link_to " read more ", '/pages/'+page.id
