- if current_user == nil || (current_user != nil && current_user.user?)
  %h1 booow

%h1 Listing nodes

%table{:class => "table table-bordered"}
  %tr
    %th Path
    %th Position
    %th Name
    %th Methods
  - @nodes.each do |node|
    %tr
      %td= node.path
      %td= node.position
      %td= node.name
      %td
        = link_to 'Edit', '/nodes/'+node.path+'/edit', {:class => "btn btn-mini btn-success"}
        = link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger"
  = link_to 'New node', new_node_path, {:class => "btn btn-mini btn-info"}

%br
%h1 Listing pages

%table{:class => "table table-bordered"}
  %tr
    %th Parent node
    %th Path
    %th Order
    %th Title
    %th Body
    %th Methods

  - @pages.each do |page|
    %tr
      %td= page.parent
      %td= page.path
      %td= page.order
      %td= page.title
      %td
        = page.body[0..100]
        - if page.body.length>100
          %i ->
      %td
        = link_to 'Show', '/pages/'+page.path, :class => "btn btn-mini"
        = link_to 'Edit', edit_page_path(page), {:class => "btn btn-mini btn-success"}
        = link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger"
  = link_to 'Add page', new_page_path, :class => "btn btn-mini btn-info"

