= render 'header'

%p
  %b Title:
  = @page.title
%p
  %b Path:
  = @page.path
%p
  %b Body:
  = @page.body
%p
  %b Parent:
  = @page.parent

= link_to 'Edit', edit_page_path(@page)
\|
= link_to_function "Back", "history.back()"#pages_path
